<h1>New Image</h1>

<%#= render 'form', image: @image %>
<%= form_with(url: images_path, method: 'post') do %>
  <%= label_tag(:link, 'New image: ') %>
  <%= text_field_tag(:link) %>
  <%= submit_tag('create') %>
<% end %>

<%= link_to 'Back', images_path %>
