<h1>New Image</h1>

<%= simple_form_for @image do |f| %>
  <%= f.input :link %>
  <%= f.input :tag_list, input_html: {value: @image.tag_list.to_s} %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', images_path %>
