<p class='success'><%= notice %></p>

<div>
  <%= link_to 'Image List', images_path  %>
</div>

<p>
  <%= image_tag(@image.link, class: 'img-width-restrict') %>
  <br>tags: 
  <% @image.tags.each do |image_tag| %>
    <span class='image-tags'>
    <%= link_to image_tag, images_path(filters: image_tag.name) %>
    </span>
  <% end %>
  <br><%= link_to 'Edit Tags', edit_image_path(@image)  %>
  <%= simple_form_for(@image, method: :delete) do |f| %>
    <%= f.submit 'Delete', { id: 'deleteImageButton', data: { confirm: 'Are you sure?' } } %>
  <% end %>
</p>
